html, #root, body {
  width: 99%;
  height: 100%;
}
.calculator {
  width: 300px;
  height: 360px;
  background-color: #2B2B2D;
  margin-top: 8%;
  border-radius: 10px;
}
.cl {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: red;
  border: 0;
}
.min {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: yellow;
  border: 0;
}
.full {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: greenyellow;
  border: 0;
}
.input {
  width: 270px;
  height: 50px;
  font-size: 30px;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  background-color: #2B2B2D;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}
.input:focus {
  outline: none;
}
.row-btn {
  margin-top: 10px;
}
.col-btn {
  margin-top: 2px;
}
.btn {
  margin-left: 1px;
  margin-right: 1px;
  width: 70px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}
.btn-dark {
  background-color: #3F4042;
  border: 0;
  color: white;
}
.btn-dark:hover {
  background-color: #343435;
}
.btn-orange {
  background-color: #FA8A02;
  border: 0;
  color: white;
}
.btn-orange:hover {
  background-color: #cf7609;
}
.btn-light {
  background-color: #606163;
  border: 0;
  color: white;
}
.btn-light:hover {
  background-color: #4c4d4e;
}
.btn-zero {
  background-color: #606163;
  border: 0;
  width: 142px;
  height: 50px;
  font-weight: bold;
  color: white;
}
.btn-zero:hover {
  background-color: #4c4d4e;
}
